/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: overlock, sans-serif;;
}

/*------ Navigation Styles ------*/
nav{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 0px;
    margin: 0;
    z-index: 1000;
    background-color: #3f595ed0;
    box-shadow: 0 2px 10px rgba(50, 50, 50, 0.95);
    overflow-x: auto;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: safe center;
        align-items: center;
        li{
            margin: 0;
            padding: 10px 0;
            a{ 
                font-family: "Montserrat", sans-serif;
                font-size: 16px;
                color: #e6e6e6;
                border-bottom: 0px solid #e6e6e6;
                text-decoration: none;
                text-wrap: nowrap;
                transition: color 0.3s, border-bottom 0.1s ease;
                padding: 5px 10px;
                margin: 5px 0;
                position: relative;
            }

            a:hover{
                color: #1b1b20;
                border-bottom: 2px solid #e6e6e6;
            }
        }  
    }
}

li.selectedPage{
    background-color: beige;
    a{
        color: #1b1b20;
        transition: none;
    }
    a:hover{
        color: #1b1b20;
    }
    
}

.navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 1000px;
    background-color: #3f595ed0;
}

/*------ Header Section Styles ------*/
/* containers */
.header {
    display: flex;
    position: relative;
    padding: 3rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url("../images/bird_on_branch_painting.jpg");
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.header h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 1rem;
    color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 1;
}



/* Images */
.yinYangImg{
    margin: 2rem auto;
    max-width: 100%;
    height: 100px;
    z-index: 1;
}

/* Buttons */
.header button,
.call-to-action button {
    text-transform: uppercase;
    position: relative;
    border: none;
    font-size: 18px;
    transform: 0.2s;
    background-color: 0.2s;
    outline: none;
    border-radius: 3px;
    margin: 0 auto;
    padding: 23px 33px;
    border: 3px solid transparent;
}

.header button:active,
.call-to-action button:active {
    transform: translate(3px);
}

.header button::after,
.call-to-action button::after {
    border-radius: 3px;
}

.shrink-border {
    background-color: transparent;
    /*color: #1b1b20;*/
    color: #d3d3d3;
}

.shrink-border:hover {
    background-color: transparent;
    box-shadow: none;
    color:  #e6e6e6;
}

.shrink-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*border: 3px solid #1b1b20;*/
    border: 3px solid #959595;

    transition: opacity 0.3s, border 0.3s;
}

.shrink-border:hover::before {
    opacity: 0;
}

.shrink-border::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 3px solid #e6e6e6;
    opacity: 0;
    z-index: 0;
    transform: scaleX(1.1) scaleY(1.3);
    transition: transform 0.3s, opacity 0.3s;
}

.shrink-border:hover::after{
    opacity: 1;
    transform: scaleX(1) scaleY(1);
}

/* ------ Main Section Styles ------ */

main {
    background-color: #f0f0f0;
    padding: 1rem 1rem;
    h2, h3, h4, h5, h6{
        margin: 1rem;
        text-align: center;
    }
    p{
        display: block;
        margin-block-start: 0em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
    }
}

/* --- General Element Styles --- */
.music-container{
    background-color: darkkhaki;
    border-radius: 30px;
    h3{
        text-align: left;
    }
    p{
        margin: 1rem;
    }
    audio{
        margin: 0.5rem auto;
        width: 80%;
    }
    button{
        color:#d3d3d3;
        background-color: #1f1515;
        height: 30px;
        padding: 5px 10px;
        text-transform: uppercase;
        border-radius: 3px;
        border: none;
    }
    .music-controls-container{
        display: flex;
        justify-content: space-around;
        padding: 10px 30px;
    }
}

.center{ /* this is for elements that I want to center, that don't have a convinent way of doing so */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- Image Carousel Styles --- */

.carousel-container{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: bisque;

    .carousel-track-container{
        width: 100%;
        position: relative;
        max-width: 800px;
        padding-bottom: min(50%, 400px);
        max-height: 400px;
        overflow: hidden;
        
        .carousel-track{
            position: absolute;
            list-style: none;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            margin: 0;
            transition: transform 0.5s;
            
            .carousel-slide{
                position: absolute;
                width: 100%;
                height: 100%;
                img{
                    position: absolute;
                    width: 100%;
                    max-width: 800px;
                    top: 50%;
                    translate: 0 -50%;
                    z-index: 10;
                }
            }
                
                
    
            
        }
    
        .carousel-nav{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 100%;
            margin: 0 auto;
            left: 50%;
            translate: -50% -100%;
            padding: 10px;
            border-radius: 100vmax;
            z-index: 15;
            background-color: rgba(255, 218, 185, 0.51);
            
            button{
                width: 10px;
                height: 10px;
                background-color: #5d5d5d;
                border-radius: 50%;
                border: 0px solid #f0f0f0;
                transition: border-width 0.1s;
                margin: 0 5px;
                cursor: pointer;
            }
    
            button:hover{
                border-width: 2px;
            }

            button.selected-indicator{
                background-color: #f0f0f0;
            }

            button.selected-indicator:hover{
                border-width: 0px;
            }
        }
    
        .carousel-arrow-buttons{
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            width: 100%;
            translate: 0 -50%;
            z-index: 15;
            
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                font-size: 40px;
                background-color: #00000060;
                color: azure;
                border: none;
                transition: background-color 0.3s;
                cursor: pointer;
            }

            button:hover{
                color: rgb(255, 255, 255);
            }

            button:active{
                background-color: #000000;
            }

            .is-hidden{
                visibility: hidden;
            }
            
        }
        
    }
    
}


/* ------ Intro Section Styles ------ */

.introImg{
    width: 40vw;
    min-width: 300px;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    float: left;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.intro-section{
    overflow: auto;
}

#importantText{
    color: red;
    font-size: 30px;
    font-family: fantasy;
}

@media screen and (max-width: 640px) { /* basically if the window is less than 600px wide, do this style */
    .introImg{
        float: none;
        width: 100%;
        margin-right: 0rem;
        margin-bottom: 0rem;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    }
    
    .intro-section{
        display: block;
    }
    
}

/* Therapies Section Styles */

.therapies-section{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: rgba(245, 245, 220, 0.3);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

    .therapy-info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 64%;
        padding: 10px;

        .therapy-text{
            margin-top: auto;
            margin-bottom: auto;
        }

        .extra-info{
            font-style: italic;
        }
    }

    .therapy-prompt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 34%;
        min-width: 300px;
        padding: 10px;

        img{
            border-radius: 5px;
            width: 100%;
        }

        button{
            display: block;
            text-transform: uppercase;
            margin: 10px auto;
            padding: 10px;
            font-size: 18px;
            border-radius: 3px;
            transition: background-color 0.3s;
        }

        button:hover{
            background-color: #3f595ed0;
        }

        button:active{
            color: bisque;
        }
    }
}

@media screen and (max-width: 640px) { /* basically if the window is less than 600px wide, do this style */
    .therapies-section{
        display: block;
        margin: 10px;
        align-items: center;

        .therapy-info{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10px;
            width: 100%;
    
        }
    
        .therapy-prompt{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
            width: 100%;
            min-width: 0px;
        }
    }
}

/* QiGong Section Styles */

.qigong-section{
    display: flow-root;
    margin: 20px auto;

    .music-container{
        width: 40vw;
        min-width: 400px;
        max-width: 640px;
        float: left;
        margin: 1rem;
    }
    .video-container{
        h3{
            text-align: center;
            margin-bottom: -1rem;
        }
        iframe{
            width: 100%;
            aspect-ratio: 1011/569;
            min-height: 400px;
    
            margin: 30px auto;
        }
    }
}

@media screen and (max-width: 640px) { /* basically if the window is less than 600px wide, do this style */
    .qigong-section{
    
        .music-container{
            overflow: auto; /* I am honestly so confused here */
            width: auto;
            float: none;
        }
    }
}


/* Gallery Section Styles */

.gallery-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    margin: 20px auto;

    figure {
        container-name: figure;
        container-type: inline-size;
        margin: 10px;
        padding-bottom: 55%;
        position: relative;
        display: flex;
        align-items: center;
        border: 3px solid #fff;
        overflow: hidden;

        img {
            position: absolute;
            padding: 0px;
            box-shadow: 0px 0px 3px #ccc;
            width: 100%;
            height: 100%;
            object-fit: cover;
            translate: 0% 50%;
            
            box-sizing: border-box;
        }

        figcaption{
            background-color: rgba(255, 255, 255, 0);
            width: 100%;
            text-align: center;
            color: #1f151500;
            z-index: 1;
            padding: 9px 0px 11px 0px;
            text-transform: uppercase;
            font-size: 15px;
            position: absolute;
            bottom: 6px;
            translate: 0% 100%;
            transition: color 0.3s ease, background-color 0.3s ease, translate 0.3s ease;
        }
        
        @container figure (max-width: 300px) {
            figcaption{
                font-size: 10px;
            }
        }
    }

    figure:hover{
        figcaption{
            background-color: rgba(255, 255, 255, 0.5);
            color: #1f1515;
            translate: 0% 0%;
        }
    }
}


@media screen and (max-width: 640px) { /* basically if the window is less than 600px wide, do this style */
    .gallery-section{
        grid-template-columns: 1fr;
        width: 90vw;
    
        figure {
            
            figcaption{
                font-size: 3vw;
            }
        }
    }
}

/* About Us Styles */

.two-column-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 70px;
    margin-bottom: 50px;
}

.column {
    flex-basis: 48%; /* a bit less than 50% to give a little space between columns */
}

.column img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.about-section {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    h2 {
        font-size: 24px;
        border-bottom: 2px solid #1b1b20;
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
    }
    p {
        font-size: 18px;
        color: #1b1b20;
        line-height: 1.4;
        margin-block-end: 1.4em;
    }
}

@media screen and (max-width: 640px) {
    .two-column-container {
        display: block;
        margin-top: 50px;
        margin-left: 5%;
        margin-bottom: 5%;
    }
}

.map-container {
    width: 100%;

    iframe{
        width: 100%;
        aspect-ratio: 5/2;
        min-height: 400px;

        margin: 30px auto;
    }
}

/* Call to action section */

.call-to-action {
    background-color: rgba(63, 89, 94, 0.9);
    text-align: center;
    padding: 50px 20px;
    h2{
        color: beige;
    }
}

/* Contact Form Styles */

.contact-section {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    margin: 80px auto;
    max-width: 800px;
    margin-bottom: 40vh;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contact-section h2{
    font-size: 24px;
    color: #1b1b20;
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 5px;
}

.contact-section form{
    font-size: 18px;
    color: #1b1b20;
    line-height: 1.6;
    margin: 0;
}

.contact-section input{
    font-size: 18px;
    color: #848484;
    line-height: 1.6;
    margin: 10px 0;
}

/* Custom Table styles */

.custom-table{
    width: 100%;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td{
    padding: 10px;
    border: 1px solid #444;
}

.light-text{
   color: #888; 
}

th.light-text{
    color: rgb(124, 49, 74);
}

/* Footer Section Styles */

footer{
    background-color: rgb(63, 89, 94);
    padding: 40px 0;
    color: #e6e6e6;
}

.footer-content{
    text-align: center;
    min-width: 400px;
    margin: 0 auto;
    padding: auto 20px;
    p{
        margin: 1rem 0;
    }
}

.footer-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: safe center;
    gap: 20px;


    a{
        color: #e6e6e6;
        text-decoration: none;
        transform: color 0.3s;
    }

    a:hover{
        color: #1b1b20;
        text-decoration: none;
        transform: color 0.3s;
    }
}

.footer-social{
    margin-top: 0;
    a{
        color: #e6e6e6;
        font-size: 24px;
        margin: 0 10px;
        text-decoration: none;
        transition: color 0.3s;
    }
    a:hover{
        color: #1b1b20;
    }
}